html{
  font-size:62.5%;/* 10px */
}

body{
  margin:0;
  font-family: "Arial", sans-serif;
  color:#646464;
  font-size:1.6rem;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Nunito Sans', sans-serif;
}

.container{
  width:940px;
  margin:0 auto;
}

/*

      HEADER

*/
.topBar{
  background:#373737;
}

.bottomBar{
  background:#474747;
}

header#header nav ul{
  display:flex;
  padding:0;
  margin:0;
  list-style:none;
}

header#header nav ul li:first-child{
  padding: 22px 40px;
}

header#header nav ul li a{
  font-family: 'Nunito Sans', sans-serif;
  font-weight:bold;
  color:#FFF;
  text-decoration:none;
  font-size:1.2rem;
  padding:25px 40px;
  display:inline-block;
  border-bottom:4px solid #474747;
  transition:border linear 0.25s;
}

header#header nav ul li a:hover, header#header nav ul li a.current{
  border-bottom:4px solid #f26c4f;
}

/*

      MAIN

*/


/*

      FOOTER

*/


/*
#373737
#474747
https://fonts.google.com/?query=Nexa
*/
